[submodule "src/External/rapidjson"]
	path = src/External/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "src/External/variant"]
	path = src/External/variant
	url = https://github.com/mpark/variant
[submodule "src/External/glm"]
	path = src/External/glm
	url = https://github.com/g-truc/glm.git
[submodule "src/External/assimp"]
	path = src/External/assimp
	url = https://github.com/assimp/assimp.git
